Repository voxpupuli/puppet-selinux, pull requests merged in 2018-09, with the labels that each got.

#268 add initial REFERENCE.md
  REFERENCE.md
Labels: docs

#253 Add support for installing pre-compiled policy packages
  README.md
  manifests/module.pp
  spec/defines/selinux_module_spec.rb
Labels: enhancement

#270 release 1.6.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
