Repository voxpupuli/puppet-selinux, pull requests merged in 2020-04, with the labels that each got.

#313 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  .rubocop.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/boolean.pp
  manifests/config.pp
  manifests/fcontext.pp
  manifests/port.pp
  spec/classes/selinux_config_mode_spec.rb
  spec/classes/selinux_config_type_spec.rb
  spec/defines/selinux_boolean_spec.rb
  spec/defines/selinux_fcontext_spec.rb
  spec/defines/selinux_module_spec.rb
  spec/defines/selinux_port_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#320 release 3.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#308 Update module.pp to match current version
  examples/module.pp
Labels: tests-fail
